
.input-box{
    font-size: 15px;;
}
.form-header{
    color:#45AADC;
}

.btn-Accept{
    text-decoration: none;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 15px;
    background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    transition: all 0.3s linear;
    cursor: pointer;
}
.btn-Accept:hover {
    transform: translateY(-2px);
  }